html {
    overflow-y: hidden;
}

body {
    overflow: auto;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: none;
}

#stats {
    font-family: monospace;
    font-size: 10px;
    position: fixed;
    right: 10px;
    top: 50px;
}

#stats p {
    margin: 0;
    padding: 0;
}

.num-cell {
    width: 40px;
    text-align: right;
}

#controls {
    background: #4d565c;    
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

button {
    height: 40px;
    margin: 0;
    background-color: #71797f;
    border: none;
    color: #e5eaee;
    outline: none;
}

button:active {
    background-color: #7e8183;
}

button:hover {
    outline: 1px solid rgba(229, 234, 238, .4);
    box-shadow: 0 0 5px rgba(229, 234, 238, .7);
}

input[type='text'], .panel button {
    margin: 8px;
    padding: 11px;
    border: none;
    font-size: 16px;
}

input[type='text'] {
    width: 200px;
    margin-right: 4px;
}

.panel button {
    margin-left: 0;
}

input[type='text']:focus {
    outline: none;
}

.panel {
    background-color: rgba(113, 121, 127, .3);
    margin-top: 2px;
    width: 373px;
    opacity: 0;
    -webkit-transition: opacity 1s;
}



.line, .node {
    position: absolute;
    left: 0;
    top: 0;
}

.node {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-size: 8px;
    background-color: #F5F5F5;
    line-height: 22px;
    cursor: default;
    z-index: 1000;
    position: absolute;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.node.dragging {
    background-color: #333;
    color: white;
    z-index: 20000;
}

.glow-hit {
    background-color: #4D565C;
    color: white;
}

.glow-bad {
    background-color: lightcoral;
}

.glow-good {
    background-color: lightgreen;    
}


.return {
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.2s;
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: .6;}
}

.line {
    background-color: black;
    height: 1px;
    -webkit-transform-origin: left center;
    z-index: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
}

input[type="range"] {
    
}



#term {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 99%;
    padding: .5%;
    z-index: 0;
    font-family: monospace;
    font-size: 10px;
}

#term p {
    margin-bottom: 0;
    margin-top: 0;
    opacity: .2;
}

#term p:last-child {
    opacity: .5;
}

